// FONTES USADAS

$font_main: 'M PLUS 1', sans-serif;
$font_sec: 'Bebas Neue', cursive;
$font_terc: 'NTR', sans-serif;
$font_quar: 'M PLUS 1', sans-serif;

//CORES USADAS

$verde_escuro: #31DD6F;
$verde_claro: #97eab5;
$preto: #000000;
$branco: #ffffff;

//TAMANHO FONTE

$font_size_main: 3rem