@import '../abstract/variaveis';

.cabeceira {
  text-align: center;

  h2 {
    font-family: $font_quar;
    font-size: 20px;
  } 
}

.formulario {
  form {
    text-align: center;
  }

}

.footer {
  background-color: $verde_escuro;
  height: 66px;

  .links {
      display: flex;
      justify-content: center;
      padding: 20px 0 0 0;
      
      a {
          margin: 5px;
      }
  }
}

.formulario {
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-family: $font_quar;
  background-color: $verde_escuro;
}

.input-padrao, .imput2 {
  background-color: $verde_claro;
  border-radius: 20px;
  height: 30px;
  width: 300px;

}
.imput2 {
  padding: 3em 0 0 0;
  display: flex;
}
input::placeholder {
  text-align: left;
  font-family: $font_main; 
}