.cabeceira {
    text-align: center;
    
    h2 {
      font-family: $font_quar;
      font-size: 20px;
      display: flex;
      justify-content: center;
    } 

  }
 .logo_Section{
  margin: 0px 0px 16px 0px;
 }
.footer {
    background-color: $verde_escuro;
    height: 66px;

    .links {
        display: flex;
        justify-content: center;
        padding: 20px 0 0 0;
        
        a {
            margin: 5px;
        }
    }
}

.or{
  display: flex;
  justify-content: center;
  padding: 0 0 2em 0;
  font-family: $font_terc;
  font-size: 20px;
}

.cell {
  padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: none;
    background-color: $verde_escuro;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
    border-radius: 20px;
    margin: 0 0 0 90px;
    text-decoration: none;
    color: $preto;
    font-family: $font_terc;

.icone {
  display: inline-block;
  padding: 0 0 0 2px;
}
}