.cabe{
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $verde_escuro; 
}

.zoio{
    margin: 0 0 0 58px;
}   

.buttonY {
    display: absolute;
    background-color: #ff6666;
    color: $preto;
    font-size: 25px;
    padding: 15px 23px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 90%;
    margin: 30px 0 35px 30px;
}