.anali{
    width: 279px;
    height: 52px;
    background: $verde_claro;
    border-radius: 50px;        
    font-size: 20px;
    text-align: center;
    color: $preto;
    font-family: $font_terc;
    border: none;
    margin: 30px 0px 30px 55px;

}

.OEE{
    width: 350px;
    height: 80px;
    background: #EAC293;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    padding:20px;
    font-family: $font_terc;
    border-radius: 0px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.disp{
    width: 170px;
    height: 120px;
    background: #ACAAAA;
    border-radius: 20px;   
    font-size: 21px;
    font-family: $font_terc;
    border: none;
    margin: 0 20px 20px 15px;
}

.per{
    width: 170px;
    height: 120px;
    background: #ACAAAA;
    border-radius: 20px;   
    font-size: 21px;
    font-family: $font_terc;
    border: none;
}

.quali{
    width: 170px;
    height: 120px;
    background: #ACAAAA;
    border-radius: 20px;   
    font-size: 21px;
    font-family: $font_terc;
    border: none;
    margin: 0px 0px 20px 110px;

}

.ROI{
    width: 350px;
    height: 80px;
    background: #EAC293;
    top: 72%;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    padding: 20px ;
    font-family: $font_terc;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.cap{
    width: 280px;
    height: 120px;
    background: #ACAAAA;
    border-radius: 20px;
    font-size: 21px;
    font-family: $font_terc;
    border: none;
    margin: 0 20px 20px 60px;
    
}

.FCO{
    width: 350px;
    height: 80px;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    padding: 20px ;
    font-family: $font_terc;
    font-weight: bold;
    background-color: #EAC293;
    margin: 0 0 20px 0;
}

.Lco {
    width: 170px;
    height: 120px;
    background: #ACAAAA;
    border-radius: 20px;   
    font-size: 21px;
    font-family: $font_terc;
    border: none;
    margin: 0 20px 20px 15px;
}

.des11 {
    width: 170px;
    height: 120px;
    background: #ACAAAA;
    border-radius: 20px;   
    font-size: 21px;
    font-family: $font_terc;
    border: none;
    padding: 0 0px 20px 0px;
   
}

.impos{
    width: 170px;
    height: 120px;
    background: #ACAAAA;
    border-radius: 20px;   
    font-size: 21px;
    font-family: $font_terc;
    border: none;
    margin: 0px 0px 20px 110px;
}

.NPS {
    width: 350px;
    height: 80px;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    padding: 20px ;
    font-family: $font_terc;
    font-weight: bold;
    background-color: #EAC293;
    margin: 0 0 20px 0;
}

.metri{
    width: 280px;
    height: 120px;
    background: #ACAAAA;
    border-radius: 20px;
    font-size: 21px;
    font-family: $font_terc;
    border: none;
    margin: 0 20px 20px 60px;
}