.empre{
    margin: 20px 20px 20px 30px;
}

.infos{
    background-color: $verde_claro;
    padding: 0 20px 50px 20px;
    margin: 21px 23px 50px 34px;
    border-radius: 20px;
    }

.cnpj{
    font-family: $font_main;
    margin: 0 0 20px 0;
    padding: 20px 0 13px 0;
    font-size: 22px;
}

.empi{
    font-family: $font_main;
    margin: 0 0 20px 0;
    padding: 20px 0 13px 0;
    font-size: 22px;
}

.funci{
    font-family: $font_main;
    margin: 0 0 20px 0;
    padding: 20px 0 13px 0;
    font-size: 22px;
}

.consult12{
    font-family: $font_main;
    margin: 0 0 20px 0;
    padding: 20px 0 13px 0;
    font-size: 22px;
}