.headercomponents {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 0 15px;
  background-color: $verde_escuro;
}

.profile {
  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 0 15em 0 15em;
    
  }

  h2 {
    display: flex;
    font-family: $font_terc;
    padding: 0.75em 2em 0 0;
    margin: 20px;
    font-size: 2em;
    text-decoration: underline;
    margin-left: 10px;
  }
}

.biografia {
  display: flex;
  font-family: $font_main;
  justify-content: start;
  padding: 2em 0 2em 0;
  margin: 20px;
  font-size: 2em;
}
h3 {
  display: flex;
  font-family: $font_terc;
  justify-content: center;
  padding: 2em 0 2em 0;
}

.biografia {
  width: 300px;
  height: 100px;
  border: 1px solid;
  border-radius: 20px;
  background: $verde_claro;
  color: $preto;
  padding: 10px;
  font-size: 16px;
  justify-content: flex-start;

  .bio {
    background: $verde_claro;
    border: none;
  }
}
