.premiumm{
    font-family: $font_main;
    font-weight: bold;
    font-size: 25px;
    margin: 34px 0px 0 135px;
}

.rackss{
    background-color: $verde_claro;
    padding: 0 20px 50px 20px;
    margin: -35px 23px 34px 34px;
    border-radius: 20px;
}

.prack{
    font-family: $font_main;
    font-weight: bold;
    font-size: 20px;
    margin: 50px 0px 0 75px;
    padding: 25px  0 0 32px;
}

.checklists{
    margin: 0 0 0 -195px;
}

.checklists1{
    margin: 0 0 0 -87px
}

.checklists2{
    margin: 0 0 0 -202px;
}

.checklists3{
    margin: 0 0 0 -252px;
}

.aligns{
    margin: 26px 0 0 0;
    font-size: 20px ;
    font-family: $font_quar;
    text-align: center;
}

.assine{
    margin: 0 0 0 75px;
    padding: 4px 81px 0px 83px;
    width: 100%;
    background: $verde_escuro;
    border-radius: 20px;
    font-size: 28px;
    text-decoration: none;
    color: $preto;
    font-family: $font_main;
    
}