html, body {
  font-family: "M PLUS 1", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cabeceira {
  text-align: center;
}
.cabeceira h2 {
  font-family: "M PLUS 1", sans-serif;
  font-size: 20px;
}

.footer {
  background-color: #31DD6F;
  height: 66px;
}
.footer .links {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}
.footer .links a {
  margin: 5px;
}

.cabeceira {
  text-align: center;
}
.cabeceira h2 {
  font-family: "M PLUS 1", sans-serif;
  font-size: 20px;
}

.formulario form {
  text-align: center;
}

.footer {
  background-color: #31DD6F;
  height: 66px;
}
.footer .links {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}
.footer .links a {
  margin: 5px;
}

.formulario {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: "M PLUS 1", sans-serif;
}

.input-padrao, .imput2 {
  background-color: #97eab5;
  border-radius: 20px;
  height: 30px;
  width: 300px;
  margin: 2em;
}

.imput2 {
  padding: 3em 0 0 0;
  display: flex;
  background-color: #97eab5;
}

input::placeholder {
  text-align: left;
  font-family: "M PLUS 1", sans-serif;
}

.enviar {
  background-color: #31DD6F;
  border-radius: 20px;
  justify-content: center;
  font-family: "M PLUS 1", sans-serif;
  padding: 0 5em 1em 5em;
  margin: 40px;
}

.welcome {
  align-items: center;
}
.welcome h2 {
  display: flex;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 65px;
  margin: 1em 1.3em 0 1.4em;
  color: #31DD6F;
}
.welcome img {
  display: flex;
  margin: 0 1em 0 1em;
  left: 70px;
  top: 136px;
}

.login a {
  display: inline-block;
  text-decoration: none;
  font-family: "NTR", sans-serif;
  font-size: 2.2em;
  color: #31DD6F;
  margin: 10px 0 0 55px;
}
.login .cadastro {
  border: 25px solid #31DD6F;
  color: #000000;
  border-radius: 50px;
  padding: 5px 0 0 0;
  background-color: #31DD6F;
}

.frase {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.especificacoes h2 {
  display: flex;
  font-size: 1.3em;
  justify-content: center;
  color: #31DD6F;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
}
.especificacoes h3 {
  display: flex;
  text-align: center;
  padding: 10px 0 50px 0;
  font-family: "M PLUS 1", sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.footer {
  background-color: #31DD6F;
  height: 66px;
}
.footer .links {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}
.footer .links a {
  margin: 5px;
}

.headercomponents {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 0 15px;
  background-color: #31DD6F;
}

.profile img {
  max-width: 100%;
  height: auto;
  padding: 3em 0em 0em 9em;
}
.profile #nome {
  font-family: "NTR", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.profile #empresa {
  font-family: "NTR", sans-serif;
  font-size: 20px;
  display: inline-block;
  justify-content: flex-end;
  padding: 2em 2em 0 3.5em;
}
.profile #pacote {
  font-family: "NTR", sans-serif;
  font-size: 20px;
  display: inline-block;
  justify-content: flex-start;
  padding: 0 0 0 0;
  margin: 0 0 0 2em;
}

.empresa {
  font-family: "NTR", sans-serif;
}

.Biografia {
  display: flex;
  font-family: "M PLUS 1", sans-serif;
  justify-content: start;
  padding: 2em 4em 1em 4em;
  margin: 0px;
  font-size: 2em;
  justify-content: center;
}

.bio {
  display: flex;
  border: 20px;
  border-radius: 20px;
  background: #97eab5;
  padding: 4em 4em 4em 13.4em;
  text-align: start;
}

h3 {
  display: flex;
  font-family: "NTR", sans-serif;
  justify-content: center;
  padding: 2em 0 2em 0;
}

h2 {
  padding: 0 0 2em 0;
  display: flex;
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
}

.consulta {
  font-family: "M PLUS 1", sans-serif;
}

.foto {
  display: flex;
  margin: 0 0 0 2em;
}

.container {
  height: 1110px;
  overflow-y: auto;
}

.fixed-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  z-index: 600;
}

.scrollable-content {
  height: 1000px;
  overflow-y: auto;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: "M PLUS 1", sans-serif;
  font-size: 200%;
  color: #31DD6F;
  margin: 20px 15px 2px 55px;
  justify-content: center;
}

.botoes button {
  margin: 20px;
  border: 25px solid #97eab5;
  width: 140px;
  height: 80px;
  color: black;
  border-radius: 80px;
  padding: 3px 2px 2px;
  background: #97eab5;
}

.grafics {
  display: flex;
  justify-content: center;
  margin: 20;
  padding: 8px 0 40px 0;
  margin-top: 100px;
}

.barr_inferior {
  position: absolute;
  width: 395px;
  height: 85px;
  left: -2px;
  top: 759px;
}

.barra-de-tarefas {
  background: #31DD6F;
  height: 90px;
  padding: 0;
  margin: 0;
  width: 395px;
  height: 85px;
  left: -2px;
  top: 759px;
}

.barra-de-tarefas ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.barra-de-tarefas li {
  padding: 0 30px;
}

.barra-de-tarefas a {
  color: #97eab5;
  text-decoration: none;
  display: block;
  height: 100%;
  line-height: 40px;
}

.barra-de-tarefas-sup {
  background: #97eab5;
  height: 40px;
  padding: 0;
  margin: 0;
  width: 395px;
  height: 85px;
}

.icon {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: auto;
  justify-content: bottom, left, center;
}

img.icon-sup2 {
  position: absolute;
  top: 0;
  bottom: 20;
  left: 0;
  right: 2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icon {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: auto;
  justify-content: bottom, left, center;
}

.icones-su {
  display: flex;
  justify-content: top;
  margin-top: 2;
  margin-bottom: 12;
  width: 35px;
  height: 35px;
  padding: 0 0 0 0;
}

.icones-su img {
  margin-left: 60px;
  margin-right: 0;
  padding: 0 0 2em 0;
}

.icones-in {
  display: flex;
  justify-content: bottom;
  margin-bottom: 0;
  width: 45px;
  height: 45px;
}

.icones-in img {
  margin-left: 65px;
  margin-right: 0;
}

.icon {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: auto;
  justify-content: bottom, left, center;
}

img.icon-sup1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 25px;
  height: 25px;
}

.logo_Section {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
