html, body {
  font-family: "M PLUS 1", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cabeceira {
  text-align: center;
}
.cabeceira h2 {
  font-family: "M PLUS 2", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #31DD6F;
  height: 66px;
}
.footer .links {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}
.footer .links a {
  margin: 5px;
}

.or {
  display: flex;
  justify-content: center;
  padding: 0 0 2em 0;
  font-family: "NTR", sans-serif;
}

.submit {
  background-color: #97eab5;
  border-radius: 20px;
  justify-content: center;
  font-family: "M PLUS 1", sans-serif;
  padding: 0 5em 1em 6em;
  margin: 40px;
}
.submit .icone {
  display: inline-block;
  padding: 0 0 0 2px;
}

.cabeceira {
  text-align: center;
}
.cabeceira h2 {
  font-family: "M PLUS 2", sans-serif;
  font-size: 20px;
}

.formulario form {
  text-align: center;
}

.footer {
  background-color: #31DD6F;
  height: 66px;
}
.footer .links {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}
.footer .links a {
  margin: 5px;
}

.formulario {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: "M PLUS 2", sans-serif;
}

.input-padrao, .imput2 {
  background-color: #97eab5;
  border-radius: 20px;
  height: 30px;
  width: 300px;
  margin: 2em;
}

.imput2 {
  padding: 3em 0 0 0;
  display: flex;
  background-color: #97eab5;
}

input::placeholder {
  text-align: left;
  font-family: "M PLUS 1", sans-serif;
}

.enviar {
  background-color: #31DD6F;
  border-radius: 20px;
  justify-content: center;
  font-family: "M PLUS 1", sans-serif;
  padding: 0 5em 1em 5em;
  margin: 40px;
}

.welcome {
  align-items: center;
}
.welcome h2 {
  display: absolute;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 65px;
  margin: 1em 1.3em 0 1.4em;
  padding: 0;
  color: #31DD6F;
}
.welcome img {
  display: flex;
  margin: 0 1em 0 1em;
  left: 70px;
  top: 136px;
}

.login a {
  display: inline-block;
  text-decoration: none;
  font-family: "NTR", sans-serif;
  font-size: 2.2em;
  color: #31DD6F;
  margin: 10px 0 0 55px;
}
.login .cadastro {
  border: 25px solid #31DD6F;
  color: #000000;
  border-radius: 50px;
  padding: 5px 0 0 0;
  background-color: #31DD6F;
}

.frase {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.especificacoes h2 {
  display: flex;
  font-size: 1.3em;
  justify-content: center;
  color: #31DD6F;
  font-family: "M PLUS 2", sans-serif;
  font-weight: bold;
}
.especificacoes h3 {
  display: flex;
  text-align: center;
  padding: 10px 0 50px 0;
  font-family: "M PLUS 2", sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.footer {
  background-color: #31DD6F;
  height: 66px;
}
.footer .links {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}
.footer .links a {
  margin: 5px;
}

.headercomponents {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 0 15px;
  background-color: #31DD6F;
}

.profile img {
  max-width: 100%;
  height: auto;
  padding: 3em 0em 0em 9em;
}
.profile #nome {
  font-family: "NTR", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.profile #empresa {
  font-family: "NTR", sans-serif;
  font-size: 20px;
  display: inline-block;
  justify-content: flex-end;
  padding: 2em 2em 0 3.5em;
}
.profile #pacote {
  font-family: "NTR", sans-serif;
  font-size: 20px;
  display: inline-block;
  justify-content: flex-start;
  padding: 0 0 0 0;
  margin: 0 0 0 2em;
}

.empresa {
  font-family: "NTR", sans-serif;
}

.Biografia {
  display: flex;
  font-family: "M PLUS 1", sans-serif;
  justify-content: start;
  padding: 2em 4em 1em 4em;
  margin: 0px;
  font-size: 2em;
  justify-content: center;
}

.bio {
  display: flex;
  border: 20px;
  border-radius: 20px;
  background: #97eab5;
  padding: 4em 4em 4em 13.4em;
  text-align: start;
}

h3 {
  display: flex;
  font-family: "NTR", sans-serif;
  justify-content: center;
  padding: 2em 0 2em 0;
}

h2 {
  padding: 0 0 2em 0;
  display: flex;
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
}

.consulta {
  font-family: "M PLUS 1", sans-serif;
}

.foto {
  display: flex;
  margin: 0 0 0 2em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #97eab5;
}

.menu-btn {
  position: relative;
}

.menu-btn button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.submenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #97eab5;
  padding: 10px;
  border: 1px solid #ffffff;
  display: none;
}

.menu-btn:hover .submenu {
  display: block;
}

.submenu button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 0 5px 10px;
  border: 1px;
  border-radius: 20px;
  background-color: #a9a9a9;
  cursor: pointer;
  overflow-x: hidden;
}

.profile-btn button,
.options-btn button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.options-btn {
  margin-left: auto;
}

.profile-btn {
  margin: 0 auto;
}

.profile-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 0 1rem 1rem;
  border-radius: 50%;
  background-color: transparent;
  font-size: 0.9rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  color: black;
  box-sizing: border-box;
  font-family: "M PLUS 1", sans-serif;
}

.circle.blue {
  background-color: #848de1;
}

.circle.green {
  background-color: #6fc272;
}

.circle.red {
  background-color: #f97e7e;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text span:first-child {
  margin-bottom: 0.2rem;
}

.botao {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  background-color: #f4a460;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  font-family: "M PLUS 1", sans-serif;
  margin: 20px 0 20px 130px;
}

.botao ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f4a460;
  border-radius: 20px;
  font-family: "M PLUS 1", sans-serif;
}

.botao:hover ul {
  display: block;
}

.botao ul li {
  display: block;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  border-radius: 20px;
  font-family: "M PLUS 1", sans-serif;
}

.botao ul li:first-child {
  border-top: none;
}

.botao ul li a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  font-family: "M PLUS 1", sans-serif;
}

.indicate {
  background-color: #f4a460;
  font-family: "M PLUS 1", sans-serif;
  font-size: large;
  text-align: center;
  padding: 15px 0 15px 0px;
  margin: 20px 0 0px 0;
}

.graphic {
  background-color: #f4a460;
  font-family: "M PLUS 1", sans-serif;
  font-size: large;
  text-align: center;
  padding: 8px 2px 10px 10px;
  margin: 80px 0 100px 60px;
  border: transparent;
  border-radius: 20px;
  display: flex;
}

.update {
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
}

.button1 {
  background-color: #97eab5;
  color: #000000;
  font-size: 27px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 20px;
  margin: 1em 0 2em 2em;
}

.button2 {
  background-color: #97eab5;
  color: #000000;
  font-size: 27px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 20px;
  margin: 1em 0 5em 4.6em;
}

.hud {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #31DD6F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 999;
}

.button {
  background-color: #31DD6F;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #97eab5;
}

.menu-btn {
  position: relative;
}

.menu-btn button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.submenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #97eab5;
  padding: 10px;
  border: transparent;
  display: none;
}

.menu-btn:hover .submenu {
  display: block;
}

.submenu button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 0 5px 10px;
  border: none;
  border-radius: 20px;
  background-color: #a9a9a9;
  cursor: pointer;
  overflow-x: hidden;
}

.profile-btn button,
.options-btn button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.options-btn {
  margin-left: auto;
}

.profile-btn {
  margin: 0 auto;
}

.profile-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #97eab5;
}

.menu-btn {
  position: relative;
}

.menu-btn button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.submenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #97eab5;
  padding: 10px;
  border: 1px solid #ffffff;
  display: none;
}

.menu-btn:hover .submenu {
  display: block;
}

.submenu button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 0 5px 10px;
  border: 1px;
  border-radius: 20px;
  background-color: #a9a9a9;
  cursor: pointer;
  overflow-x: hidden;
}

.profile-btn button,
.options-btn button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.options-btn {
  margin-left: auto;
}

.profile-btn {
  margin: 0 auto;
}

.profile-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo_Section {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
